* {
  margin: 0;
  padding: 0;
}

img {
  width: 80%;
  height: auto;
  max-width: 80%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(236, 236, 236);
}

h2 {
  margin-bottom: 2vh;
}

#header {
  margin-top: 0em;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
  border: 1px solid black;
  background-color: rebeccapurple;
  color: white;
}

#table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* background-color: rgb(0, 54, 0); */
  background-color: rgb(3, 109, 3);
  width: 80%;
  margin: auto;
  padding: 3vh;
  border: solid 3px black;
  border-radius: 3px;
}

.dealer,
.player {
  display: flex;
  align-items: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  text-align: center;
  border: solid 1px black;
  padding: 1em 1em 2.5em 1em;
  margin: 1em;
  border-radius: 25px;
  background-color: yellow;
}

.player {
  opacity: 100%;
}

.dealer {
  opacity: 90%;
}

.cards-dealer,
.cards-player {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 85%;
  border: 0.5px solid black;
  border-radius: 0px;
  padding: 1vw;
  background-color: rgb(248, 247, 247);
}

.card {
  position: relative;
  width: 6vw;
  margin: 0vh;
  padding: 0.15vw;
  overflow: auto;
}

.hidden {
  display: none;
}

.player {
  margin: 1em;
}

.ace-field {
  margin-top: 2vh;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -5vh;
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  background-color: whitesmoke;
  padding: 0.5em;
  border: 2px solid gray;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
}

.ace-btn-1,
.ace-btn-11 {
  border-radius: 0%;
  height: 5vh;
  width: 5vh;
  margin-left: 1vw;
  padding: 0.1em;
  font-size: 11px;
  background-color: purple;
  color: white;
}

.ace-btn-1:hover,
.ace-btn-11:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  margin: auto;
  padding: 2vh;
  border: 2px black solid;
  background-color: rgb(219, 219, 219);
}

.btn {
  height: auto;
  width: auto;
  padding: 0em;
  color: white;
  padding: 1em;
  margin-left: 1vw;
  margin-right: 1vw;
  font-weight: 400;
}

.hit,
.stand {
  background-color: darkgreen;
  border-radius: 25%;
}

.hit:hover,
.stand:hover {
  background-color: rgb(0, 153, 0);
  color: white;
  font-weight: bold;
}

.new-game {
  background-color: rebeccapurple;
  color: white;
  border-radius: 25px;
}

.new-game:hover {
  background-color: purple;
  font-weight: bold;
}

.reset {
  background-color: gray;
  border-radius: 50px;
  font-size: 12px;
  margin-left: 5vw;
}

.reset:hover {
  background-color: rgb(161, 161, 161);
  color: white;
  font-weight: bold;
}
